{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Slider Start -->
{{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="slider">  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-12">
        <div class="text-center">
          <span class="d-block mb-3 text-uppercase">{{ .subtitle | markdownify }}</span>
          <h1 class="animated fadeInUp mb-5 text-white">{{ .title | markdownify }}</h1>
          {{ if .button_solid.enable }}
          {{ with .button_solid }}
          <a href="{{ .link | absLangURL }}" class="btn btn-main animated fadeInUp mr-1 mb-2 mb-lg-0">{{ .label }}</a>
          {{ end }}
          {{ end }}

          {{ if .button_border.enable }}
          {{ with .button_border }}
          <a href="{{ .link | absLangURL }}" class="btn btn-solid-border animated fadeInUp mr-1 mb-2 mb-lg-0">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if $data.homepage.banner_cta.enable }}
{{ with $data.homepage.banner_cta }}
<section class="mt--6 position-relative slider-cta">
  <div class="container">
    <div class="row align-items-center bg-primary p-4 p-sm-5 rounded">
      <div class="col-lg-8">
        <p class="h3 mb-2 text-white">{{ .title | markdownify }}</p>
        <p class="text-white">{{ .content | markdownify }}</p>
      </div>
      {{ if .button.enable }}
      {{ with .button }}
      <div class="col-lg-4 text-right">
        <a href="{{ .link | absLangURL }}" class="btn btn-white">{{ .label }}</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- Slider End -->

<!-- Section feature Start -->
{{ if $data.homepage.feature.enable }}
{{ partial "feature.html" . }}
{{ end }}
<!-- Section feature END -->

<!-- Section About Start -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img mb-5 mb-lg-0" data-aos="fade-right" data-aos-delay="200">
          <picture>            
            <source srcset="{{ .image | absURL  }}" type="image/webp">
            <img src="{{ .image_jpg | absURL  }}" alt="{{ .Title | markdownify }}" class="img-fluid lozad" style="max-height: 60vh;">
          </picture>          
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item pl-3 mt-4 mt-lg-0">
          <p class="h2 mb-4 font-secondary">{{ .title | markdownify }}</p>
          <p class="mb-5">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
          {{end}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- Section About End -->

<!-- section Counter Start -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section counter">
  <div class="container">
    <div class="row">
      {{ range $index, $element := .funfact_item }}
      {{ $delay := mul $index 100 }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="counter-item text-center mb-5 mb-lg-0 " data-aos="fade-up" data-aos-delay="{{ $delay }}">
          <p class="h3 mb-0"><span class="counter-stat" data-count="{{ .count }}">0</span> {{ .unit }}</p>
          <p class="text-dark">{{ .title }}</p>
        </div>
      </div>
      {{end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- section Counter End  -->

<!--  Section Services Start -->
{{ if $data.homepage.service.enable }}
<section class="section service bg-gray">
  <div class="container">
    {{ with $data.homepage.service }}
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <p class="h2 mb-4">{{ .title | markdownify }}</p>          
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row justify-content-center">
      {{ range $index, $element:=  first 6 $data.service.services }}
      {{ $delay := mul $index 100 }}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="shadow-sm-2 bg-white mb-4 p-5 " data-aos="fade-up" data-aos-delay="{{ $delay }}" style="height: 95%;" >
          <center><img src="{{ .icon | absURL }}" alt="{{ .title }}" class="img-fluid" width="50" height="50"></center>
          <p class="h4 mb-3 mt-4 text-center">{{ .title | markdownify }}</p>
          <p class="text-justify">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!--  Section Services End -->

<!-- Section Pricing Start -->
{{ if $data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!-- Section Pricing End -->

<!--  Section Team Start -->
{{ if $data.homepage.team.enable }}
{{ partial "team.html" . }}
{{ end }}
<!--  Section Team End -->

<!-- Section Cta Start -->
{{ if $data.homepage.promo_video.enable }}
{{ with $data.homepage.promo_video }}
<section class="section cta-section position-relative">
  <div class="bg-2 w-50 bg-absolute d-none d-sm-block d-md-block d-lg-block" style="background-image: url('{{ .video_thumbnail | absURL }}');"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-5">
        <div class="cta-item p-5 position-relative ml-4">
          <a aria-label="Youtube video" href="{{ .video_link | safeURL }}" class="videoplay mr-3 text-white popup-youtube">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="40" height="40">
            <path style="fill: white;" d="M256,0C114.617,0,0,114.615,0,256s114.617,256,256,256s256-114.615,256-256S397.383,0,256,0z M344.48,269.57l-128,80
              c-2.59,1.617-5.535,2.43-8.48,2.43c-2.668,0-5.34-0.664-7.758-2.008C195.156,347.172,192,341.82,192,336V176
              c0-5.82,3.156-11.172,8.242-13.992c5.086-2.836,11.305-2.664,16.238,0.422l128,80c4.676,2.93,7.52,8.055,7.52,13.57
              S349.156,266.641,344.48,269.57z"/>
          </a>
          <div class="cta-content-block">
            <p class="h4 mt-2 mb-4 font-secondary">{{ .title | markdownify }}</p>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--  Section Cta End-->

<!-- Section Blog Start -->
{{ if $data.homepage.blog.enable }}
<section class="section bg-white about">
  <div class="container">
    {{ with $data.homepage.blog }}
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <p class="h2 content-title mb-4">{{ .title | markdownify }}</p>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row">
      {{ range $index, $element:= first 3 ( where .Site.RegularPages "Type" "post" )}}
      {{ $delay:= mul $index 100 }}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
        <div class="shadow-sm-2 blog-item bg-white rounded p-3" data-aos="fade-up" data-aos-delay="{{ $delay }}"
          data-aos-duration="500" style="height: 100%;">    
          <center>  
          <a href="{{ .Permalink }}">    
            <picture class="align-self-center">
              <source srcset="{{ .Params.Image_webp_sm }}" type="image/webp">
              <img src="{{ .Params.Image_sm | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid mb-4 rounded" style="max-height: 20vh;"  width="auto" height="auto">
            </picture>
          </a>
            <h3 class="mb-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
            <div class="blog-item-meta">   
              <span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i>
                {{ .PublishDate.Format "02/01/2006" }}</span>          
            </div>         
            </center>
           <div style="height: 50px;">
          <a href="{{ .Permalink }}" class="btn btn-main fixed-bottom" >{{ i18n "read_more" }}</a>
        </div> 
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- Section Blog End -->

{{ end }}