{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title-small.html" . }}

<div class="container template_card">
	<div class="row">
		<div class="col-sm-6 col-xs-12 text-center card_main_img">
			<img src="../../img/card_products/b-max.png" alt="WAD-B-MAX">
		</div>
		<div class="col-sm-6 col-xs-12">
			<h2>Краткое описание  </h2>
			<p class="fs16">Трёхканальный модуль искрозащиты.<br> Предназначен для защиты наружных цепей электронного оборудования от высоковольтных импульсных перегрузок, возникающих при ударе молнии. <br>Применяется для защиты интерфейсов RS-485, RS-422, RS-232 и устройств в линиях УСПД и УСД.</p>
			<p class="text-center"><a href="https://akonwad.ru/test"><button type="button" class="btn btn-secondary w-60">Взять на тест</button></a></p>
			<p class="text-center"><button type="button" class="btn btn-warning w-60 orange_button" data-toggle="modal" data-target=".bd-example-modal-lg">Заказать</button></p>
			<h2>Сферы применения</h2>
			<div class="row icon">
				<div class="col-sm-3"><img src="../../img/segmentation/1.svg" alt=""></div>
				<div class="col-sm-3"><img src="../../img/segmentation/2.svg" alt=""></div>
				<div class="col-sm-3"><img src="../../img/segmentation/3.svg" alt=""></div>
				<div class="col-sm-3"><img src="../../img/segmentation/4.svg" alt=""></div>
			</div>
		</div>
	</div>
	<h2>Технические характеристики</h2>
	<div class="row">
		<div class="col-sm">
			<table class="table">
			  <thead>
				<tr class="fs16">
				  <th scope="col">Параметр</th>
				  <th scope="col">Значение</th>
				</tr>
			  </thead>
			  <tbody>
				<tr><th scope="row">Количество каналов</th><td>3</td></tr><tr><th scope="row"> Тип каналов</th><td> Для передачи двуполярного сигнала амплитудой до +/-30В (относительно общего провода).</td></tr><tr><th scope="row"> Максимальное напряжение каждой линии относительно общего провода</th><td> 0..+/-30B</td></tr><tr><th scope="row"> Величина последовательного сопротивления каналов (вход-выход)</th><td> 240 Ом +/-20%</td></tr><tr><th scope="row"> Максимальный ток через барьер</th><td> 80мА</td></tr><tr><th scope="row"> Ёмкость каналов на общий провод</th><td> &lt; 3нФ</td></tr><tr><th scope="row"> Полоса пропускания каналов</th><td> 0-1МГц</td></tr><tr><th scope="row"> Габариты</th><td> 125,5х93,1х7,2 мм</td></tr><tr><th scope="row"> Вес</th><td> 65г</td></tr><tr><th scope="row"> Корпус и клеммы</th><td> Phoenix Contact(Германия); литые винтовые зажимные клеммы; сечение провода: 0.2-2.5 мм2</td></tr>			  </tbody>
			</table>
		</div>
	</div>
		<h2>Техническая документация</h2>
	<div class="row card_documents">
		<div class="col-sm-4 text-center"><a href="../../download/teh_op/teh_op_b-max.pdf" target="_blank"><i class="ti-zip" aria-hidden="true"></i><br><p>Техническое описание</p></a></div>	</div>
	<h2>Примеры паспорта</h2>
	<div class="row card_documents">
		<div class="col-sm-4 text-center">
      <a href="../../download/passport/WAD-B-MAX/WAD-B-MAX barrier 1-3_12V-40mA.doc" target="_blank">
        <i class="ti-zip" style="font-size: 50px;" aria-hidden="true"></i><br><p>Паспорт WAD-B-MAX barrier 1-3_12V-40mA.doc</p></a>
      </div><div class="col-sm-4 text-center"><a href="../../download/passport/WAD-B-MAX/WAD-B-MAX barrier 1-3_12V-80mA.doc" target="_blank"><i class="fas fa-file-word" aria-hidden="true"></i><br><p>Паспорт WAD-B-MAX barrier 1-3_12V-80mA.doc</p></a></div><div class="col-sm-4 text-center"><a href="../../download/passport/WAD-B-MAX/WAD-B-MAX barrier 1-3_24V-80mA.doc" target="_blank"><i class="fas fa-file-word" aria-hidden="true"></i><br><p>Паспорт WAD-B-MAX barrier 1-3_24V-80mA.doc</p></a></div><div class="col-sm-4 text-center"><a href="../../download/passport/WAD-B-MAX/WAD-B-MAX barrier 1-3_5V-80mA.doc" target="_blank"><i class="fas fa-file-word" aria-hidden="true"></i><br><p>Паспорт WAD-B-MAX barrier 1-3_5V-80mA.doc</p></a></div>	</div>
	<h2>Комплект поставки</h2>
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Название</th>
		  <th scope="col">Количество шт.</th>
		</tr>
	  </thead>
	  <tbody>
	  	<tr>
		  <th scope="row">1</th>
		  <td>Модуль WAD-B-MAX</td>
		  <td>1</td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>Паспорт на заказанную конфигурацию изделия</td>
		  <td>1</td>
		</tr>
				  </tbody>
	</table>
</div>

{{ end }}