// Fonts 
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,600,700);


html{
  overflow-x: hidden;
}

body {
  font-family: $secondary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height:1.7em;
  color: #7e8690;

}

p{
  color: #161616;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: $primary-font;
  color: $black;
  font-weight: 600;  
}

h1 ,.h1{
  font-size: 45px;
  text-transform: none;
  
}

h2,.h2 {
  font-size: 42px;
  line-height: 52px;
}

h3,.h3 {
  font-size: 20px;
  line-height: 32px;
}

h4,.h4 {
  font-size: 18px;
  line-height: 30px;
}

h5,.h5 {
  font-size: 16px;
  line-height: 26px;
}

h6,.h6 {
  font-size: 14px;
}


.text-sm{
  font-size: 14px;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.product-section
{
  margin: 30px 0px 15px 0px; 
  font-size: 4vh;
}

@include mobile-xs{
    h1, .h1 {
      font-size: 30px;
      text-transform: none;
      line-height: 48px;
  }
}

@include mobile{
  body {  
  font-size: 14px; 

}
  .table td, .table th {
    padding: 0.15rem;
    }
}