{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title-small.html" . }}
<style>
	.carousel-control-next,
	.carousel-control-prev /*, .carousel-indicators */ {
		filter: invert(100%);
	}	
	.table td{
		vertical-align: middle;		
	}
	.table-center{
		text-align: center;		
	}
		
</style>
<div class="container template_card">
	<div class="row">
		<!-- service step -->
		{{ if $data.sensor.info.enable }}		
		<div class="align-self-center col-sm-12 col-lg-6">
			
			<div id="carousel" class="carousel slide" data-ride="carousel" >				
				<div class="carousel-inner">
				{{ with $data.sensor.info.mainIMG }}
				<div class="carousel-item active">
					<picture>
						<source srcset="{{ .webpSM }}" media="(max-width: 560px)" type="image/webp">
						<source srcset="{{ .jpegSM }}" media="(max-width: 560px)">
						<source srcset="{{ .webp }}" type="image/webp">
						<img class="d-block w-100" src="{{ .jpeg }}" alt="{{ .title }}">
					</picture>					
				</div>
				{{ end }}
				{{ range $index, $element:= $data.sensor.info.images }}
      			{{ $delay := mul $index 100 }}
				  <div class="carousel-item">
					<picture>
						<source srcset="{{ .webpSM }}" media="(max-width: 560px)" type="image/webp">
						<source srcset="{{ .jpegSM }}" media="(max-width: 560px)">
						<source srcset="{{ .webp }}" type="image/webp">
						<img class="d-block w-100" src="{{ .jpeg }}" alt="{{ .title }}">
					 </picture>					
				  </div>
				{{ end }}
				  
				</div>
				<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6">
			{{ with $data.sensor.info }}
			<p class="lead product-section">{{ .title | markdownify }}</p>
			{{ range $index, $element:= $data.sensor.info.paragraphs }}
      		{{ $delay := mul $index 100 }}
			<p style="margin: 0px; text-indent: 1.5em; text-align: justify;">{{ .content | markdownify }}</p>			
			{{ end }}
			<p class="text-center"><button type="button" class="btn btn-warning w-60 orange_button" style="margin: 20px ;" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="window.open('{{.commercialOffer}}')">{{ i18n "commercialText" }}</button></p>
		</div>
		
		
		{{ end }}
		{{ end }}
		<!-- /service step -->
			
	</div>
	{{ if $data.sensor.usage.enable }}
	{{ with $data.sensor.usage }}
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
	<style type="text/css">ul{color: #000000;}</style>
		<p style="text-indent: 1.5em; text-align: justify;">{{ .content | markdownify }}</p>
		{{ range $index, $element:= $data.sensor.usage.usages }}
      	{{ $delay := mul $index 100 }}
			<p class="text-black" style="margin: 0px; text-indent: 1.5em; ">{{ .content | markdownify }}</p>
		{{end}}
			<div class="d-flex flex-wrap">
				{{ range $index, $element:= $data.sensor.usage.images }}
      			{{ $delay := mul $index 100 }}
				<div class="p-2">
					<img src="{{ .link }}" width="50" height="50" alt="{{ .link }}"/>
				</div>
				{{ end }}				
			</div>
	{{ end }}
	{{ end }}

	{{ if $data.sensor.standart.enable }}
	{{ with $data.sensor.standart }}	
	<style type="text/css">ul{color: #000000;}</style>
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
		{{ range $index, $element:= $data.sensor.standart.paragraphs }}
      	{{ $delay := mul $index 100 }}
			<p style="margin: 10px 0px; text-indent: 1.5em; text-align: justify;">{{ .content | markdownify }}</p>
		{{end}}
	
	{{ end }}
	{{ end }}

	{{ if $data.sensor.parameters.enable }}
	{{ with $data.sensor.parameters }}
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
	<div class="row">		
		<div class="col-sm">			
			<table class="table">
			  <thead>
				<tr class="fs16">
					{{ range $index, $element:= $data.sensor.parameters.header }}
      				{{ $delay := mul $index 100 }}
					<th class="table-center" scope="col">{{ .title }}</th>
					{{ end }}				 
				</tr>
			  </thead>
			  <tbody >	
				{{ range $index, $element:= $data.sensor.parameters.double }}
				{{ $delay := mul $index 100 }}			
				<tr>
					<td>{{ .title }}</td>
					<td class="table-center">{{ .value1 }}</td>
					<td class="table-center">{{ .value2 }}</td>
				</tr>	
				{{ end }}			
				{{ range $index, $element:= $data.sensor.parameters.single }}
				{{ $delay := mul $index 100 }}				
				<tr >
					<td >{{ .title }}</td>
					<td colspan="2" class="table-center">{{ .value }}</td>
				</tr>
				{{ end }}				
			</tbody>
			</table>
		</div>
	</div>
	{{ end }}
	{{ end }}

	{{ if $data.sensor.tech.enable }}
	{{ with $data.sensor.tech }}	
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
	<div class="row card_documents">			
		{{ range $index, $element:= $data.sensor.tech.docs }}
      	{{ $delay := mul $index 100 }}
		  	<div class="col-sm-3 text-center">
				<a href="{{ .link | markdownify }}" target="_blank">
				<img src="{{ .icon | markdownify }}" width="50" height="75" aria-hidden="true"></i><br><p>{{ .title | markdownify }}</p></a>
			</div>			
		{{ end }}			
	</div>
	{{ end }}
	{{ end }}

	{{ if $data.sensor.norm.enable }}
	{{ with $data.sensor.norm }}
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
	<div class="row card_documents">			
		{{ range $index, $element:= $data.sensor.norm.docs }}
      	{{ $delay := mul $index 100 }}
		  	<div class="col-sm-3 text-center">
				<a href="{{ .link | markdownify }}" target="_blank">
				<img src="{{ .icon | markdownify }}" width="50" height="75" aria-hidden="true"></i><br><p>{{ .title | markdownify }}</p></a>
			</div>			
		{{ end }}			
	</div>
	{{ end }}
	{{ end }}

	{{ if $data.sensor.connections.enable }}
	{{ with $data.sensor.connections }}
	<h2 class="lead product-section">Схеми підключення</h2>
	<div class="row shuffle-wrapper portfolio-gallery">
		{{ range $index, $element:= $data.sensor.connections.docs }}
      	{{ $delay := mul $index 100 }}
		<div class="col-sm-6 col-lg-3 shuffle-item">
			<div class="position-relative rounded inner-box">
			<div class="image position-relative">
				<picture>
					<source srcset="{{ .webpSM | markdownify }}" media="(max-width: 560px)" type="image/webp">
					<source srcset="{{ .jpegSM | markdownify }}" media="(max-width: 560px)">
					<source srcset="{{ .webp | markdownify }}" type="image/webp">
					<img class="d-block w-100" src="{{ .jpeg | markdownify }}" alt="{{ .title | markdownify }}">
				 </picture>	
				<div class="overlay-box">
				<div class="overlay-inner">
					<div class="overlay-content text-center">
					<h3 class="mb-2">Схема підключення 1</h3>					
					<a href="{{ .jpeg | markdownify }}" class="portfolio-image popup-gallery btn btn-light btn-sm"
						title="{{ .title | markdownify }}">{{ i18n "view_project" }}</a>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		{{ end }}
		
		
	</div>
	{{ end }}
	{{ end }}	

	{{ if $data.sensor.bundle.enable }}
	{{ with $data.sensor.bundle }}
	<h2 class="lead product-section">{{ .title | markdownify }}</h2>
	<table class="table">
	  <thead>
		<tr>
			{{ range $index, $element:= $data.sensor.bundle.header }}
      		{{ $delay := mul $index 100 }}
			  <th scope="col">{{ .title | markdownify }}</th>
			{{ end }}		  
		</tr>
	  </thead>
	  <tbody>
		{{ range $index, $element:= $data.sensor.bundle.data }}
		{{ $delay := mul $index 100 }}
			<tr>
				{{ $cnt := add $index 1 }}
				<td scope="row">{{ $cnt }}</th>
				<td>{{ .title | markdownify }}</td>
				<td>{{ .count | markdownify }}</td>
		  	</tr>
	  	{{ end }}		  	
	   </tbody>
	</table>
	{{ end }}
	{{ end }}
</div>

{{ end }}