<div class="blog-item text-center rounded p-3" style="height: 100%;">  
  <center>      
    <picture class="align-self-center">
      <source srcset="{{ .Params.Image_webp_sm }}" type="image/webp">
      <img src="{{ .Params.Image_sm | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid mb-4 rounded" style="max-height: 20vh;">
    </picture>
    <h3 class="mb-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
    <div class="blog-item-meta">   
      <span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i>
        {{ .PublishDate.Format "02/01/2006" }}</span>          
    </div>   
  </center>
  <a href="{{ .Permalink }}" class="btn btn-main" >{{ i18n "read_more" }}</a>
</div>