{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title-small.html" . }}
<style>
	.carousel-control-next,
	.carousel-control-prev /*, .carousel-indicators */ {
		filter: invert(100%);
	}
</style>
<div class="container template_card">
	<div class="row">
		<div class="col-sm-12 col-lg-6">
			<div id="carousel" class="carousel slide" data-ride="carousel" >
				<ol class="carousel-indicators">
				  <li data-target="#carousel" data-slide-to="0" class="active"></li>
				  <li data-target="#carousel" data-slide-to="1"></li>
				  <li data-target="#carousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
				  <div class="carousel-item active">
					<picture>
						<source srcset="/images/products/barrier1-small.webp" media="(max-width: 560px)" type="image/webp">
						<source srcset="/images/products/barrier1-small.jpg" media="(max-width: 560px)">
						<source srcset="/images/products/barrier1.webp" type="image/webp">
						<img class="d-block w-100" src="/images/products/barrier1.jpg" alt="First slide">
					 </picture>					
				  </div>
				  <div class="carousel-item">
					<picture>
						<source srcset="/images/products/barrier2-small.webp" media="(max-width: 560px)" type="image/webp">
						<source srcset="/images/products/barrier2-small.jpg" media="(max-width: 560px)">
						<source srcset="/images/products/barrier2.webp" type="image/webp">
						<img class="d-block w-100" src="/images/products/barrier2.jpg" alt="First slide">
					 </picture>	
				  </div>
				  <div class="carousel-item">
					<picture>
						<source srcset="/images/products/barrier1-small.webp" media="(max-width: 560px)" type="image/webp">
						<source srcset="/images/products/barrier1-small.jpg" media="(max-width: 560px)">
						<source srcset="/images/products/barrier1.webp" type="image/webp">
						<img class="d-block w-100" src="/images/products/barrier1.jpg" alt="First slide">
					 </picture>	
				  </div>
				</div>
				<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6">
			<h2 class="lead" style="margin: 30px 10px; font-size: 4vh;">Краткое описание</h2>
			<p class="fs16">Бар'єр іскрозахисту є двоканальним пристроєм. Канал «Живлення» призначений для живлення напругою + 24В постійного струму одного пристрою, встановленого у вибухонебезпечній зоні. Канал «Сигнальний» призначений для прийому/передачі сигналів цифрового інтерфейсу RS-485. Бар'єр відповідає вимогам ДСТУ EN 60079-0:2017 і ДСТУ EN 60079-11:2017, має вихідні іскробезпечні електричні кола рівня «Іа» і маркування вибухозахисту II (1) G [Ex ia Ga] IIB та призначений для установки за межами вибухонебезпечних зон.</p>
			<p class="text-center"><button type="button" class="btn btn-warning w-60 orange_button" data-toggle="modal" data-target=".bd-example-modal-lg">Заказать</button></p>
			
		</div>		
	</div>
	<h2 class="lead" style="margin: 30px 10px; font-size: 4vh;">Сферы применения</h2>
			<div class="row icon">
				
			</div>
	<h2 class="lead" style="margin: 30px 10px; font-size: 4vh;">Технические характеристики</h2>
	<div class="row">
		<div class="col-sm">
			<table class="table">
			  <thead>
				<tr class="fs16">
				  <th scope="col">Параметр</th>
				  <th scope="col">Значение</th>
				</tr>
			  </thead>
			  <tbody>
				<tr><th scope="row">Количество каналов</th><td>3</td></tr><tr><th scope="row"> Тип каналов</th><td> Для передачи двуполярного сигнала амплитудой до +/-30В (относительно общего провода).</td></tr><tr><th scope="row"> Максимальное напряжение каждой линии относительно общего провода</th><td> 0..+/-30B</td></tr><tr><th scope="row"> Величина последовательного сопротивления каналов (вход-выход)</th><td> 240 Ом +/-20%</td></tr><tr><th scope="row"> Максимальный ток через барьер</th><td> 80мА</td></tr><tr><th scope="row"> Ёмкость каналов на общий провод</th><td> &lt; 3нФ</td></tr><tr><th scope="row"> Полоса пропускания каналов</th><td> 0-1МГц</td></tr><tr><th scope="row"> Габариты</th><td> 125,5х93,1х7,2 мм</td></tr><tr><th scope="row"> Вес</th><td> 65г</td></tr><tr><th scope="row"> Корпус и клеммы</th><td> Phoenix Contact(Германия); литые винтовые зажимные клеммы; сечение провода: 0.2-2.5 мм2</td></tr>			  </tbody>
			</table>
		</div>
	</div>
		<h2 class="lead" style="margin: 30px 10px; font-size: 4vh;">Техническая документация</h2>
	<div class="row card_documents">
		<div class="col-sm-3 text-center">
			<a href="/docs/barrier_to.pdf" target="_blank">
			<img src="/images/icons/pdf.svg" aria-hidden="true"></i><br><p>Техническое описание</p></a>
		</div>
		<div class="col-sm-3 text-center">
			<a href="/docs/barrier_passport.pdf" target="_blank">
			<img src="/images/icons/pdf.svg" style="font-size: 50px;" aria-hidden="true"></i><br><p>Паспорт</p></a>
      	</div>
	</div>
	<h2 class="lead" style="margin: 30px 10px; font-size: 4vh;">Комплект поставки</h2>
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Название</th>
		  <th scope="col">Количество шт.</th>
		</tr>
	  </thead>
	  <tbody>
	  	<tr>
		  <th scope="row">1</th>
		  <td>Модуль WAD-B-MAX</td>
		  <td>1</td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>Паспорт на заказанную конфигурацию изделия</td>
		  <td>1</td>
		</tr>
				  </tbody>
	</table>
</div>

{{ end }}