<!-- Header Start -->
<header class="navigation">
  {{ if .Site.Params.top_header }}
  
    
  
  <!-- top header -->
  <div class="header-top d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-7 col-md-7">
          <div class="header-top-info">
            <a href="tel:{{ .Site.Params.phone }}">
              <i class="mr-1">
                <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" height="20" width="20">
                  <circle style="fill:#2196F3;" cx="256" cy="256" r="256"/>
                      <path style="fill:#FAFAFA;" d="M384,308.928c-27.616,0-53.952-6.016-78.24-17.888c-3.808-1.824-8.224-2.112-12.256-0.736
      c-4.032,1.408-7.328,4.352-9.184,8.16l-11.52,23.84c-34.56-19.84-63.232-48.544-83.104-83.104l23.872-11.52
      c3.84-1.856,6.752-5.152,8.16-9.184c1.376-4.032,1.12-8.448-0.736-12.256c-11.904-24.256-17.92-50.592-17.92-78.24
      c0-8.832-7.168-16-16-16H128c-8.832,0-16,7.168-16,16c0,149.984,122.016,272,272,272c8.832,0,16-7.168,16-16v-59.072
      C400,316.096,392.832,308.928,384,308.928z"/>
                  </svg>
              </i>
              <span>{{ .Site.Params.phone }}</span></a>
              <a
              class=' 
              href="mailto:x@y"
              '
              href
               =	'	
              &#x20;m&#x61;&#x69;&#x6C;t&#x6f;&#x3A;&#x25;&#x32;&#x30;&#x69;&#110;f&#x6f;&#x25;40%64ig%6&#x39;t&#97;%&#x36;&#99;a%&#x36;&#x64;&#x25;&#x36;&#x39;%6&#x33;&#111;&#37;&#50;&#x65;c%6f&#109;&#63;
              '>
              <i class="mr-1">
                <svg  viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" height="20" width="20">
                  <path style="fill:#1E88E5;" d="M499.628,407.468c-10.128,12.16-25.134,19.194-40.96,19.2H53.334
                    c-15.826-0.006-30.832-7.04-40.96-19.2l195.627-162.987l20.267,13.867c16.695,11.52,38.772,11.52,55.467,0l20.267-13.867
                    L499.628,407.468z"/>
                  <path style="fill:#64B5F6;" d="M502.614,108.588L304.001,244.481l-20.267,13.867c-16.695,11.52-38.772,11.52-55.467,0
                    l-20.267-13.867L9.388,108.374c9.994-14.411,26.409-23.017,43.947-23.04h405.333C476.285,85.241,492.781,93.969,502.614,108.588z"/>
                  <g>
                    <path style="fill:#2196F3;" d="M208.001,244.481L12.374,407.468c-8.007-9.57-12.388-21.655-12.373-34.133V138.668
                      c-0.065-10.823,3.214-21.403,9.387-30.293L208.001,244.481z"/>
                    <path style="fill:#2196F3;" d="M512.001,138.668v234.667c0.014,12.478-4.366,24.563-12.373,34.133L304.001,244.481l198.613-135.893
                      C508.756,117.414,512.033,127.915,512.001,138.668z"/>
                  </g>
                </svg>
              </i>
              i&#x6E;&#x66;o@&#x64;&#x69;&#x67;it<!--
              mailto:abuse@hotmail.com
              </a>
              -->&shy;&#x61;la&#x6d;&#x69;co&#x2E;&#99;o&#x6D;
              
              </a>
          </div>
        </div>
       
        <div class="col-lg-5 col-md-5 d-flex justify-content-end">
          <div class="header-top-info">
            {{ range .Site.Params.social }}
            <a alt="{{ .name }}" rel="noopener" href="{{ .link | safeURL }}" target="_blank">
              <i class="mr-0">
              <img alt="{{ .name }}" src="{{ .icon }}"/></i>
              <span>{{ .name }}</span></a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /top header -->
  {{ end }}
<style>
  svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
</style>
  <nav class="navbar navbar-expand-lg  main-nav py-3" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        <img alt="AMICO DIGITAL Logo" src="/images/logo.svg"/>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <div class="container" onclick="this.classList.toggle('active')">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 200 200">
                <g stroke-width="6.5" stroke-linecap="round">
                  <path
                    d="M72 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#fff"
                  />
                  <path
                    d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                    fill="none"
                    stroke="#fff"
                  />
                  <path
                    d="M72 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#fff"
                  />
                  <path
                    d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                    fill="none"
                    stroke="#fff"
                  />
                  <path
                    d="M100.75 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#fff"
                  />
                  <path
                    d="M100.75 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="#fff"
                  />
                </g>
              </svg>
        </div>
      </button>
     

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center text-lg-left">
          <li class="nav-item active"><a class="nav-link"
              href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Home }}</a></li>
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }} +
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}          
        </ul>
        <div collapse navbar-collapse>
          <ul class="navbar-nav ml-auto text-center text-lg-left">
            <li class="nav-item">
              {{ partial "allLanguages.html" . }}
            </li>
          </ul>
        </div>
        {{ if .Site.Params.navigation_button.enable }}
        <div class="text-center text-lg-left">
          <a href="{{ .Site.Params.navigation_button.link | absLangURL }}"
            class="quote-btn ml-4 bg-primary text-white rounded-btn letter-spacing text-uppercase">{{ .Site.Params.navigation_button.label }}
            <i class="ti-angle-right"></i></a>
        </div>
        {{ end }}
      </div>
    </div>
  </nav>
</header>

<!-- Header Close -->