{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}


<!-- about -->
{{ if $data.about.about.enable }}
{{ with $data.about.about }}
<section class="about-2 position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 text-center">        
        <p class="mb-5 lead mt-4 font-weight-normal">{{ .content | markdownify }}
        </p>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element:= .about_item }}
      {{ $delay:= mul $index 200 }}
      <div class="col-lg-4 mb-4 mb-lg-0 col-md-6" data-aos="fade-up" data-aos-delay="{{ $delay }}">
        <picture>            
            <source srcset="{{ .image | absURL  }}" type="image/webp">
            <img src="{{ .image_jpg | absURL  }}" alt="{{ .alt | markdownify }}" class="img-fluid rounded" >
          </picture>
        
        <div class="about-info-item mt-4">
          <h3 class="mb-3">{{ .title | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

<!-- info -->
{{ if $data.about.info.enable }}
{{ with $data.about.info }}
  <div class="container text-justify">
    <p class="display-4 text-center"  style="margin-top: 30px;">{{ .first_header | markdownify }}</p>
    {{ range $index, $element := .first_paragraphs }}
    {{ $delay := mul $index 100 }}
    <p>{{ .content | markdownify }}</p>
    {{ end }}

    <p class="display-4 text-center"  style="margin-top: 30px;">{{ .second_header | markdownify }}</p>
    {{ range $index, $element := .second_paragraphs }}
    {{ $delay := mul $index 100 }}
    <p>{{ .content | markdownify }}</p>
    {{ end }}
    <p >{{ .text1 }} <a href="{{  .sensor_link }}"><u>{{.sensor_text}}</u></a><a href="{{.sensor_lpg_link}}"><u>{{.sensor_lpg_text}}</u></a>{{.text2}} <a href="{{.sadco_link}}" rel="nofollow"><u>{{.sadco_text}}</u></a>{{.text3}}</p>
    <p >{{.text4}}<a href="{{.barrier_link}}"><u>{{.barrier_text}}</u></a>{{.text5}}</p>
    <p >{{.text6}}<a href="{{.contact_link}}"><u>{{.contact_text}}</u></a> </p>

    <p class="display-4 text-center"  style="margin-top: 30px;">{{ .third_header | markdownify }}</p>
    {{ range $index, $element := .third_paragraphs }}
    {{ $delay := mul $index 100 }}
    <p>{{ .content | markdownify }}</p>
    {{ end }}
  </div>
{{ end }}
{{ end }}
<!-- /info -->




<!-- section Counter Start -->
{{ if $data.about.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="counter bg-counter" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      {{ range $index, $element := .funfact_item }}
      {{ $delay := mul $index 100 }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="counter-item mb-5 mb-lg-0 " data-aos="fade-up" data-aos-delay="{{ $delay }}">
          <i class="{{ .icon }} text-white text-md float-left"></i>
          <div class="pl-5 ml-2">
            <h3 class="mt-2 mb-0 text-white"><span class="counter-stat" data-count="{{ .count }}">0</span> {{ .unit }}</h3>
            <p class="text-white-50 mb-0">{{ .title }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- section Counter End  -->

<!--  Section Services Start -->
{{ if $data.homepage.service.enable }}
<section class="section service bg-gray">
  <div class="container">
    {{ with $data.homepage.service }}
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <p class="h2 mb-4">{{ .title | markdownify }}</p>          
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row justify-content-center">
      {{ range $index, $element:=  first 6 $data.service.services }}
      {{ $delay := mul $index 100 }}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="shadow-sm-2 bg-white mb-4 p-5 " data-aos="fade-up" data-aos-delay="{{ $delay }}" style="height: 95%;" >
          <center><img src="{{ .icon | absURL }}" alt="{{ .title }}" class="img-fluid" width="50" height="50"></center>
          <p class="h4 mb-3 mt-4 text-center">{{ .title | markdownify }}</p>
          <p class="text-justify">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!--  Section Services End -->

<!-- team -->
{{ if $data.about.team.enable }}
{{ partial "team.html" . }}
{{ end }}

<!-- Section Testimonial Start -->
{{ if $data.about.testimonial.enable }}
{{ with $data.about.testimonial }}
<section class="testimonial section bg-gray bg-4 bg-cover" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="testimonial-wrap text-center">
          {{ range .testimonial_item }}
          <div class="testimonial-item position-relative">
            <i class="ti-quote-left text-color text-lg"></i>
            <p class="mt-4">{{ .content | markdownify }}</p>
            <div class="testimonial-author">
              <h5 class="mb-0 text-capitalize">{{ .name }}</h5>
              <p>{{ .designation | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- Section Testimonial End -->

<!-- clients -->
{{ if $data.about.clients_logo.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      {{ range .Site.Params.clients_logo }}
      <div class="col-lg-3 col-md-4 col-sm-4">
        <img src="{{ .logo | absURL }}" alt="logo" class="img-fluid w-100">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /clients -->

{{ end }}